$purple: #9356dc;
$pink: #ff79da;
$mint: #99e2d0;
$grey: #F2F2F2;
$shadow: darken($grey, 5%);

.loading-page{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    animation: disappear 2.5s ease-out;
    animation-fill-mode: forwards;
    & p{
        font-family: 'Shrikhand';
        animation: growing 2.5s ease-out;
    }
    .spinner1{
        color: $purple;
        font-size: 44px;
        margin-right: 10px;
        animation: spinning 1.1s cubic-bezier(.96,.09,.17,.95) infinite;
    }
    .spinner2{
        color: $pink;
        font-size: 44px;
        margin-left: 10px;
        animation: spinning 1.6s cubic-bezier(.96,.09,.17,.95) infinite; 
    }
}


//  Apparition cartes animation

.menus__card{
    display: flex;
    align-self: center;
    margin-top: 10px;
    animation-name: menu-loading;
    animation-duration: 3s;
    &--title{
        margin-top: 12px;
    }
    & p{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &:hover{
        & p{
            max-width: 200px;
            @media screen and (max-width: 500px){
                max-width: 200px;
            }
        }
        & .validate{
            width: 45px;
            background-color: $mint;
            & i{
                animation: spin-check 0.5s linear;
                }
            }
        }
    }

// Validation carte

.validate{
    width: 0;
    min-width: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: width 0.5s ease-out;
    & i{
        font-size: 18px;
    }
}